.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
  overflow: hidden;
  margin-bottom: 10px;

  &__logo {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 1px;
  }

  @media (min-width: $screen-sm) {
    margin-bottom: 50px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 130px;
  }
}