.menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 135px 35px;
  background: var(--yellow-200);
  transition: all ease-in-out .2s;
  z-index: 9;

  &--open {
    right: 0;

    .menu__button svg path {
      fill: var(--black);
    }
  }

  &__button {
    position: fixed;
    top: 20px;
    right: 15px;
    width: 35px;
    height: 35px;
    border: none;
    padding: 0;
    background: none;
    outline: none;
    transition: all ease-in-out .2s;

    svg {
      width: 100%;
      height: 100%;
    }

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__item {
    display: inline-block;
    width: fit-content;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 25px;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
      font-size: 12px;
      opacity: .67;
      color: inherit;

      &:not(:last-child) {
        margin-right: 25px;
      }
    }

    @media (min-width: $screen-md) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }

  @media (min-width: $screen-sm) {
    position: relative;
    right: 0;
    width: initial;
    height: initial;
    display: flex;
    flex-direction: row;
    padding: 0;
    background: none;
  }
}