nav.menu
    button.menu__button
    a.menu__item(href="#" title="Go to page" target="_blank") Exercises
    a.menu__item(href="#" title="Go to page" target="_blank") Trainers
    a.menu__item(href="#" title="Go to page" target="_blank") Pricing
    a.menu__item(href="#" title="Go to page" target="_blank") Login