.program {

  &__top-wrapper {
    display: flex;
    position: relative;
    max-width: 100vw;
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 321px;
      width: 100%;
      height: 100%;
      background: var(--white);
      opacity: 0.1;
    }
  }

  &__left {
    flex-basis: 60%;
    padding: 100px;
  }

  &__right {
    padding: 130px 0 233px;
  }

  &__header {
    position: relative;
    margin: 0;
    font-weight: 600;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -2px;
    color: #fff;

    &::after {
      content: '';
      position: absolute;
      bottom: -97px;
      left: -30px;
      display: block;
      max-width: 100%;
      width: 251px;
      height: 57px;
      background: url("images/underline.svg") center center /contain no-repeat;
      transform: rotate(-10deg);
    }
  }

  &__descr {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 25px;
    line-height: 200%;
    letter-spacing: 0.5px;
    opacity: 0.7;
  }

  &__trainers {

  }
}