include ../trainer/index

section.program
    .program__top-wrapper.container
        .program__left
            h2.program__header Workout<br>Program<br>Made<br>For&nbsp;You
        .program__right
            .program__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipiscing.
            a.button.button--main(href="#") Get Started
    .program__trainers.container
        +trainer('Samantha William', 'Trainer', 'normal', 'images/trainer__1.webp')
        +trainer('Karen Summer', 'Trainer', 'normal', 'images/trainer__3.webp')
        +trainer('Jonathan Wise', 'Trainer', 'big', 'images/trainer__2.webp')