include ../trainer/index

section.program
    .program__top-wrapper
        .program__left
            h2.program__header Workout Program Made For&nbsp;You
        .program__right
            .program__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipiscing.
            a.button.button--main(href="#") Get started
    .program__trainers
        +trainer('Samantha William', 'trainer', 'normal', 'images/trainer__1.webp')
        +trainer('Karen Summer', 'trainer', 'normal', 'images/trainer__2.webp')
        +trainer('Jonathan Wise', 'trainer', 'big', 'images/trainer__3.webp')