include ../exercise/index

section.popular
    .popular__header-wrapper
        h2.popular__header Popular Exercises
        a.popular__more(href="#") See more exercises
    .popular__elements
        +exercise('Treadmill', '58:24', '250', 'images/exercise__1.jpg')
        +exercise('Stretching', '58:24', '250', 'images/exercise__2.jpg')
        +exercise('Yoga', '58:24', '250', 'images/exercise__3.jpg')
        +exercise('Running', '58:24', '250', 'images/exercise__4.jpg')
        +exercise('Lifting', '58:24', '250', 'images/exercise__5.jpg')
        +exercise('PushUp', '58:24', '250', 'images/exercise__6.jpg')