include ../exercise/index

section.popular
    .popular__header-wrapper
        h2.popular__header Popular Exercises
        a.popular__more(href="#") See more exercises
    .popular__elements
        +exercise('Treadmill', '58:24', '250', 'images/exercise__1.webp')
        +exercise('Stretching', '58:24', '250', 'images/exercise__2.webp')
        +exercise('Yoga', '58:24', '250', 'images/exercise__3.webp')
        +exercise('Running', '58:24', '250', 'images/exercise__4.webp')
        +exercise('Lifting', '58:24', '250', 'images/exercise__5.webp')
        +exercise('PushUp', '58:24', '250', 'images/exercise__6.webp')