include ../exercise/index

section.popular.container
    .popular__header-wrapper
        h2.popular__header Popular Exercises
        a.popular__more(href="#" target="_blank") See more exercises
    .popular__elements
        +exercise('Treadmill', '58:24', '250', 'images/exercise__1.webp', 'https://www.youtube.com/watch?v=Y0c2moLhfKw')
        +exercise('Stretching', '58:24', '250', 'images/exercise__2.webp', 'https://www.youtube.com/watch?v=Y0c2moLhfKw')
        +exercise('Yoga', '58:24', '250', 'images/exercise__3.webp', 'https://www.youtube.com/watch?v=Y0c2moLhfKw')
        +exercise('Running', '58:24', '250', 'images/exercise__4.webp', 'https://www.youtube.com/watch?v=Y0c2moLhfKw')
        +exercise('Lifting', '58:24', '250', 'images/exercise__5.webp', 'https://www.youtube.com/watch?v=Y0c2moLhfKw')
        +exercise('PushUp', '58:24', '250', 'images/exercise__6.webp', 'https://www.youtube.com/watch?v=Y0c2moLhfKw')