.footer {
  padding-left: 15px;
  padding-right: 15px;

  &__item {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--transition-text);

    &:not(:last-child) {
      border-bottom: 0.5px solid var(--grey-alpha-4);
    }

    &:hover {
      background: var(--grey-alpha-1);

      .footer__num {
        transform: translateX(20px);
      }

      .footer__title {
        color: var(--yellow-100);
      }

      .footer__arrow {
        transform: translateX(-50px) scale(1.5);
      }
    }

    @media (min-width: $screen-sm) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media (min-width: $screen-lg) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @media (min-width: $screen-xl) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__num {
    position: relative;
    flex: 0 1 20%;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.34;
    transition: var(--transition-text);

    @media (min-width: $screen-md) {
      flex-basis: 27.5%;
      font-size: 25px;
    }
  }

  &__text {
    flex: 0 2 80%;
    text-align: left;

    @media (min-width: $screen-md) {
      flex-basis: 73.5%;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.8px;
    color: #fff;

    @media (min-width: $screen-sm) {
      font-size: 25px;
    }
    @media (min-width: $screen-md) {
      font-size: 30px;
    }
    @media (min-width: $screen-lg) {
      font-size: 40px;
    }

    @media (min-width: $screen-xl) {
      font-size: 50px;
    }
  }

  &__descr {
    font-weight: 400;
    font-size: 10px;
    line-height: 164%;
    letter-spacing: 0.5px;
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.5;

    @media (min-width: $screen-md) {
      font-size: 12px;
    }
    @media (min-width: $screen-lg) {
      font-size: 14px;
    }
  }

  &__arrow {
    width: 20px;
    height: 25px;
    background: url("images/arrow.svg") center center /contain no-repeat;
    transition: var(--transition-text);
  }

  @media (min-width: $screen-sm) {
    padding-bottom: 30px;
  }

  @media (min-width: $screen-xl) {
    padding-bottom: 90px;
  }
}