footer.footer.container
    a.footer__item(href="#" target="_blank")
        .footer__num 01
        .footer__text
            h3.footer__title Workout at Home
            .footer__descr 15 videos
        .footer__arrow
    a.footer__item(href="#" target="_blank")
        .footer__num 02
        .footer__text
            h3.footer__title Stay Strong and Fit
            .footer__descr 48 videos
        .footer__arrow
    a.footer__item(href="#" target="_blank")
        .footer__num 03
        .footer__text
            h3.footer__title High Intensity
            .footer__descr 25 videos
        .footer__arrow
    a.footer__item(href="#" target="_blank")
        .footer__num 04
        .footer__text
            h3.footer__title Simple Workout
            .footer__descr 35 videos
        .footer__arrow
    a.footer__item(href="#" target="_blank")
        .footer__num 05
        .footer__text
            h3.footer__title Burn Calories
            .footer__descr 14 videos
        .footer__arrow