@import "node_modules/normalize.css/normalize";
@import "node_modules/@fancyapps/ui/dist/fancybox/fancybox";
@import "vars";
@import "blocks";

:root {
  --black: #000;
  --white: #fff;
  --grey-alpha-1: rgba(255, 255, 255, .1);
  --grey-alpha-4: rgba(255, 255, 255, .4);
  --grey-alpha-6: rgba(255, 255, 255, .67);
  --grey-50: #ababab;
  --grey-100: #666;
  --grey-200: #191919;
  --yellow-100: #ffe642;
  --yellow-200: #ffcd00;
  --green-100: #25ab75;
  --pink-100: #fb1351;

  --transition-text: all ease-in-out .2s;
}

div, header, main, aside, a, span {
  box-sizing: border-box;
}

.container {
  @media (min-width: $screen-sm) {
    max-width: $screen-sm;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $screen-md) {
    max-width: $screen-md;
  }

  @media (min-width: $screen-lg) {
    max-width: $screen-lg;
  }

  @media (min-width: $screen-xl) {
    max-width: $screen-xl;
  }
}

.body {
  font-family: 'Poppins', sans-serif;
  background: var(--black);
  color: var(--white);
}